@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";
<<<<<<< HEAD

=======
>>>>>>> f9689e724ba3b4b63b9b4acf46f2624d56b2a423
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
